:root {
    --text: white;
    --tlo: black;
}

body{
    background-color: var(--tlo) !important;
}

body:has(.hb-contact-form) iframe {
    filter: grayscale(100%) !important;
}

.vt-header, .vt-header-bottom,.custom-cat-section,.pureshop-category-tiles-section,.mr-footer-benefits,.pureshop-margin-top,.mr-footer-light,.wc-blocks-components-select .wc-blocks-components-select__container,.wc-block-components-form .wc-block-components-text-input input[type=text],.wc-block-components-form .wc-block-components-text-input input[type=email],.wc-block-components-form .wc-block-components-text-input input[type=tel],.wc-block-components-textarea,.hb-contact-form textarea::placeholder,#menu-menu-glowne li a{
    background-color:var(--tlo) !important;
}

.custom-cat-card,.custom-cat-card-btn,.custom-cat-see-all,.custom-cat-carousel-btn,.pureshop-category-tile,.single_product_color,.pureshop-cart-main-place,.pureshop-shop-filter,.pureshop-product-card,.pureshop-ordering .orderby, .woocommerce-ordering .orderby,.hb-contact-form,.hb-map-card,.pureshop_single_product_color,.hb-contact-form input[type="text"],.hb-contact-form input[type="email"],.hb-input,.hb-contact-form textarea,.pureshop-dropdown,.woocommerce form .form-row .input-text{
    background-color: var(--tlo) !important;
    border: solid 1px var(--text) !important;
}

#mainMenu{
    background-color: var(--tlo);
    padding: 10px 0px;
}

.navbar-toggler{
    background-color: var(--text) !important;
}

.pureshop-dropdown a{
    background-color: var(--tlo);
}

.pureshop_single_product_color{
    border-radius: 10px;
}

.custom-cat-card-title a,.pureshop-category-tile h3,.pureshop-category-tile p,.mr-footer-benefits,.mr-footer-benefit-item p,.mr-footer-logo,.mr-footer-title,.mr-footer-menu a,.mr-footer-contact-item,.mr-footer-contact-item a,.mr-footer-socials a,.card-title,.text-secondary,.text-muted,.text-dark,.pureshop-product-single-data p:first-child,.pureshop-cart-summary h5,.pureshop-summary-total span,.pureshop-summary-line strong,.pureshop-color,.hb-map-card h3,.hb-field label,.pureshop_single_product_color,.wc-block-components-form .wc-block-components-text-input input[type=email],.wc-block-components-form .wc-block-components-text-input input[type=tel],.wc-block-components-textarea,.hb-contact-form input[type="text"],.hb-contact-form input[type="text"]::placeholder,.hb-contact-form input[type="email"],.hb-contact-form input[type="email"]::placeholder,.hb-input,.hb-contact-form textarea,.hb-contact-form textarea::placeholder,.pureshop-colorH1,.color-white h2,.woocommerce-account p,.woocommerce-account a,.pureshop-icon-btn i,.vt-main-menu .nav-link,.woocommerce form .form-row .input-text,.woocommerce form .form-row .input-text::placeholder,#menu-menu-glowne li a,.color-white p,#pureshop_activator_search{
    color: var(--text) !important;
    /* padding: 5px !important; */
}


